# Aliases for 'ls' command variations
alias la='ls -lAh'
alias ll='ls -lah'

# Aliases for directory navigation
alias up='cd ..'
alias up2='cd ../..'
alias up3='cd ../../..'
alias up4='cd ../../../..'

# Aliases for frequent commands
alias diff='diff --color=auto'
alias mkdir='mkdir -pv'
alias vi='vim'

# Kubernetes shortcut
alias k=kubectl

# GitHub Copilot CLI
alias cs=ghcs
alias ce=ghce

# Telepresence
alias tp=telepresence

# Ansible
alias ap=ansible-playbook

# Terraform
alias tf=terraform

# Docker
alias dc="docker compose"
alias d="docker"

# Poetry
alias pl="poetry lock"
alias pu="poetry update"
alias pv="poetry version"
alias plu="poetry lock && poetry update"

# Skaffold
alias sk="skaffold"
alias skd="skaffold dev"
alias skr="skaffold run"
