#################
# General
#################

# Create a new directory and enter it
function mkd() {
    mkdir -p "$@" && cd "$@"
}

#################
# Kubernetes
#################

# Change the current kubectl namespace
function kn() {
    kubectl config set-context --current --namespace="$1"
}

# Change the current kubectl context
function kc() {
    kubectl config use-context "$1"
}

# Get all pods in the current namespace
function kp() {
    kubectl get pods
}

# Watch all pods in the current namespace
function kpw() {
    watch -n 1 kubectl get pods
}

# Get all pods in the current namespace with more details
function kpd() {
    kubectl get pods -o wide
}

# Get all pods in all namespaces
function kpa() {
    kubectl get pods --all-namespaces --field-selector 'metadata.namespace!=kube-system,metadata.namespace!=flux-system,metadata.namespace!=metallb-system'
}

# Get all pods in all namespaces excluding kube-system, flux-system, metallb-system
function kpas() {
    kubectl get pods --all-namespaces
}

# Watch all pods in all namespaces
function kpaw() {
    watch -n 1 kubectl get pods --all-namespaces --field-selector 'metadata.namespace!=kube-system,metadata.namespace!=flux-system,metadata.namespace!=metallb-system'
}

# Watch all pods in all namespaces excluding kube-system, flux-system, metallb-system
function kpaws() {
    watch -n 1 kubectl get pods --all-namespaces
}

# Get all pods in all namespaces with more details
function kpad() {
    kubectl get pods --all-namespaces -o wide
}

# Get all events in the current namespace and sort by timestamp
function ke() {
    kubectl get events --sort-by='.lastTimestamp'
}

# Get all events in all namespaces and sort by timestamp
function kea() {
    kubectl get events --all-namespaces --sort-by='.lastTimestamp'
}

# Get all services in the current namespace
function ks() {
    kubectl get services
}

# Get all services in all namespaces
function ksa() {
    kubectl get services --all-namespaces
}

#################
# Git
#################

# Git Clone and cd into it
function gc() {
    git clone "$1" && cd "$(basename "$1" .git)"
}

# Git Clone and cd into it and open in VS Code
function gcv() {
    gc "$1" && code .
}

#################
# Flux CD
#################

# Display flux status
function fs() {
    flux stats
}

# Display all flux events in the current namespace
function fe() {
    flux events
}

# Display all flux events in all namespaces
function fea() {
    flux events --all-namespaces
}

# Get all flux kustomizations in all namespaces
function fkls() {
    flux get kustomizations --all-namespaces
}

# Watch all flux kustomizations in all namespaces
function fkw() {
    watch -n 1 flux get kustomizations --all-namespaces
}

# Reconile a kustomization with name
function fk() {
    flux reconcile kustomization "$1"
}

# Reconile a helmrelease with name
function fh() {
    flux reconcile helmrelease "$1"
}

# Suspends a kustomization with name
function fks() {
    flux suspend kustomization "$1"
}

# Resumes a kustomization with name
function fkr() {
    flux resume kustomization "$1"
}

# Get all flux git sources
function fgs() {
    flux get sources git
}

# Reconile a git source with name
function fg() {
    flux reconcile source git "$1"
}

#################
# Starship
#################

# Toggle Kubernetes module
function sk() {
    starship toggle kubernetes
}
